label{
    color:blue;
}

/*changes background color*/
html{
    background-color:#96d1c5;
}

#container{
    display: flex;
}
#fullChatBot{
    float: right;
}

#testDiv{
    float: right;
    position:absolute;
    top:0%;
    left:0%;
    height:100%;
    width:25%;
}

@media screen and (max-width: 1100px) {
    .container > div {
      width: 100%;
    }
}


/*creates the overall chatBot square design*/
#cbSquare{
    position:absolute;
    top:0px;
    left:25%;
    height:100%;
    width:75%;
    background-color:white;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

#chatBox{
    position:absolute;
    top:85px;
    left:25%;
    min-height:75%;
    max-height:75%;
    width:75%;
    background-color:white;
    overflow-y:auto;
    display:flex;
    flex-direction:column-reverse;
}

#topSquare{
    position:absolute;
    top:0px;
    left:25%;
    height:85px;
    width:75%;
    background-color:#4d8c7f;
}

#bottomSquare{
    position:absolute;
    top:85%;
    left:25%;
    height:15%;
    width:75%;
    background-color:lightgray;
}

/*sets position and design of text box*/
#userTxt1{
    position:absolute;
    top:90%;
    left:27%;
    height:5.5%;
    width:57%;
    font-size:20px;
}

/*sets position and design of submit button*/
#submitBtn{
    position:absolute;
    top:90%;
    left:87%;
    height:5.5%;
    width:10%;
    cursor:pointer;

    font-size:20px;
    color:#152622;

    border:2px solid #4d8c7f;
    /*border-radius:5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    background-color:#96d1c5;
}

#submitBtn:hover{
    background-color: #6fa89c;
}

/*changes design of user chat messages*/
.userMessages{
    left:350px;
    min-width:50px;
    max-width:45%;

    background-color:#c7ede6;
    margin:5px 0;
    padding:10px;
    border:3px solid #6fa89c;
    border-radius:15px;
    align-self:flex-end;

    word-wrap:anywhere;
    font-size:30px;
}

.botMessages{
    left:350px;
    min-width:50px;
    max-width:45%;

    background-color:#dce6e4;
    margin:5px 0;
    padding:10px;
    border:3px solid #6fa89c;
    border-radius:15px;
    align-self:flex-start;

    word-wrap:anywhere;
    font-size:30px;
}

/*changes design of the typing bubble*/
#typingBubble{
    max-height: 30px;
    font-size:30px;
    text-align:center;
}

