label{
    color:blue;
}

/*changes background color*/
html{
    background-color:#96d1c5;
}

/*creates shadow around chat bot*/
div{
    /* Apply shadow to left, right, and bottom sides */

}

/*creates the overall chatBot square design*/
#cbSquare{
    position:absolute;
    top:125px;
    left:500px;
    height:600px;
    width:500px;
    border-radius:15px;
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#chatBox{
    position:absolute;
    top:210px;
    left:500px;
    min-height:430px;
    max-height:430px;
    width:500px;
    background-color:white;
    overflow-y:auto;
    display:flex;
    flex-direction:column-reverse;
}

#topSquare{
    position:absolute;
    top:125px;
    left:500px;
    height:85px;
    width:500px;
    border-radius:15px 15px 0px 0px;
    background-color:#4d8c7f;
}

#bottomSquare{
    position:absolute;
    top:640px;
    left:500px;
    height:85px;
    width:500px;
    border-radius:0px 0px 15px 15px;
    background-color:lightgray;
}

/*sets position and design of text box*/
#userTxt1{
    position:absolute;
    top:660px;
    left:510px;
    height:40px;
    width:360px;
    font-size:20px;
}

/*sets position and design of submit button*/
#submitBtn{
    position:absolute;
    top:663px;
    left:890px;
    height:40px;
    width:100px;
    cursor:pointer;

    font-size:20px;
    color:#152622;

    border:2px solid #4d8c7f;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:#96d1c5;
}

#submitBtn:hover{
    background-color: #6fa89c;
}

/*changes design of user chat messages*/
.userMessages{
    left:350px;
    min-width:50px;
    max-width:300px;

    background-color:#c7ede6;
    margin:5px 0;
    padding:10px;
    border:3px solid #6fa89c;
    border-radius:15px;
    align-self:flex-end;

    word-wrap:anywhere;
    font-size:20px;
}

.botMessages{
    left:350px;
    min-width:50px;
    max-width:300px;

    background-color:#dce6e4;
    margin:5px 0;
    padding:10px;
    border:3px solid #6fa89c;
    border-radius:15px;
    align-self:flex-start;

    word-wrap:anywhere;
    font-size:20px;
}

/*changes design of the typing bubble*/
#typingBubble{
    max-height: 20px;
    font-size:25px;
    text-align:center;
}